@import "./node_modules/nes.css/css/nes.css";

body {
    font-family: 'Press Start 2P', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    background-image: linear-gradient(to bottom, #0d47e9, rgb(230, 230, 236));
    background-repeat: no-repeat;
    background-attachment: fixed;  
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
}

li {
    list-style: none;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
    height: 85vh;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        "header header header"
        "nav main aside"
        "footer footer footer"
    ;
    gap: 10px;
}

.main-image {
    width: 65vw;
    border: white;
    border-style: groove;
    border-radius: 5px;
}

.main-text {
    background-color: blue;
    border: white;
    border-style: groove;
    border-radius: 5px;
}

.aside-character {
    background-color: blue;
    border: white;
    border-style: groove;
    border-radius: 5px;
}

#character-pic {
    height: 85%;
}

.nav-actions {
    background-color: blue;
    border: white;
    border-style: groove;
    border-radius: 5px;
}
.head-banner {
    text-align: center;
}

#aside-character {
    grid-area: aside-character;
}

#character-header {
    grid-area: character-header;
}

#character-name {
    grid-area: character-name;
}

#character-profession {
    grid-area: character-profession;
}

#character-health {
    grid-area: character-health;
}

#character-attack {
    grid-area: character-attack;
}

#character-defense {
    grid-area: character-defense;
}

#character-image {
    grid-area: character-image;
}

.aside-character {
    display: grid;
    grid-template-rows: 7;
    grid-template-columns: 2;
    grid-template-areas:
        "character-header character-header"
        "character-name character-image"
        "character-profession character-image"
        "character-health character-image"
        "character-attack character-image"
        "character-defense character-image"
    ;
    gap: 10px;
}